.item-count {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 1px;
}

.highlighted-username {
    background-color: #e0e0eb;
    padding: 5px;
    border-radius: 5px;
}

/*Logout button*/
.modal-overlay {
    position: fixed;
    top: -30%;
    left: 85%;
    width: 14%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    border-color: #151515;
    text-align: center;
}
.modal-content button {
    margin-right: 0;
}
.navbar-nav .nav-item .logout-button {
    color: lightgray !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border: none !important;
    padding: 10px !important;
    font-size: inherit !important;
    cursor: pointer !important;
    font-weight: bold;
}

.navbar-nav .nav-item a.nav-link.mouseover-style {
    font-weight: bold !important;
}
/*--------------------*/

/*Checkout button*/
.modal-overlay-checkout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 2px solid #ff0000; /* Replace with your desired color */
    text-align: center;
    padding: 10px;
}
.modal-content-checkout {
    text-align: center;
}
.modal-content-checkout button {
    margin-top: 0;
}
/*--------------------*/


#errormessage {
    color: red;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#cartlogo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#checkOut {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#brand {
    width: 155px;
    height: 70px;
    margin-right: 5px;
    margin-left: 10px;
}

#oneProductCard{
    width: 600px;
    height: 400px;
    overflow: auto;
}

#oops {
    width: 300px;
    height: 300px;"
}

#errorPic {
    width: 500px;
    height: 400px;
}