<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title class="nav-link" th:href="@{/admin}">Welcome To the Fantastic Store of Super Random</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <script th:src="@{/script.js}" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="/SRtransp.gif" alt="Random Gif1" style="width: 155px; height: 70px; margin-right: 5px; margin-left: 10px">
        Welcome To the Fantastic Store of Super Random
    </a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/all_orders}">All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Log out</a>
            </li>

        </ul>
    </div>
</nav>
<div class ="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Current products in Store</h1>
        </div>
        <div class="col-lg-6 text-end">
            <h5>Logged in as <span th:text="${username}"></span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/admin/create_product}" class="btn btn-primary btn-sm mb-3">Add Product</a>
        </div>
    </div>

    <table class ="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>See more?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "product: ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>

            <td>
                <a th:onclick="'openPopup(\'' + ${product.id} + '\')'"
                   class="btn btn-primary">More Info</a>
                <a th:href="@{/admin/edit_product/{id}(id=${product.getId()})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/admin/delete_product/{id}(id=${product.getId()})}"
                   class="btn btn-danger">Delete</a>
            </td>

        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
